<div>
    <nb-card>
        <nb-tabset class="pt-3">
            <nb-tab tabTitle="NEPSE Index">
                <app-overallgraph-index-comparison></app-overallgraph-index-comparison>
            </nb-tab>
            <nb-tab tabTitle="CandleStick Chart">
                <app-trading-history-candle></app-trading-history-candle>
            </nb-tab>
            <nb-tab tabTitle="Average Trend">
                <app-average-trading-history></app-average-trading-history>
            </nb-tab>

        </nb-tabset>
    </nb-card>

</div>
